@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;700&family=Poppins&family=Ubuntu:wght@300&display=swap');

:root{
    font-family: Merriweather, sans-serif, -apple-system;
    font-size: 1.8rem;
    background-color: #2c2c2c;
    color: #141718;
}
